# fly.toml app configuration file generated for timemcp on 2025-12-28T17:32:14+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'timemcp'
primary_region = 'ams'

[build]

[env]
ALLOWED_HOSTS = 'timemcp.fly.dev'
HOST = '0.0.0.0'
PORT = '8000'

[http_service]
internal_port = 8000
force_https = true
auto_stop_machines = 'stop'
auto_start_machines = true
min_machines_running = 0
processes = ['app']

[[vm]]
memory = '1gb'
cpu_kind = 'shared'
cpus = 1
memory_mb = 1024
